(defcfg
  input  (device-file "{{ device_path }}")
  output (uinput-sink "{{ device_name }}" )
  fallthrough true
)

(defalias
  ces (tap-hold-next-release 200 esc lctl)
  nav (tap-hold-next 250 tab (layer-toggle nav) :timeout-button tab)
)

(defsrc
  esc
  grv  1    2    3    4    5    6    7    8    9    0    -    =    bspc
  tab  q    w    e    r    t    y    u    i    o    p    [    ]    \
  caps a    s    d    f    g    h    j    k    l    ;    '    ret
  lsft z    x    c    v    b    n    m    ,    .    /    rsft
  lctl lmet lalt           spc            ralt rctl
)

(deflayer default
  caps
  grv  1    2    3    4    5    6    7    8    9    0    -    =    bspc
  @nav q    w    e    r    t    y    u    i    o    p    [    ]    \
  @ces a    s    d    f    g    h    j    k    l    ;    '    ret
  lsft z    x    c    v    b    n    m    ,    .    /    rsft
  lctl lalt lmet           spc            ralt rctl
)

(deflayer nav
  caps
  grv  1    2    3    4    5    6    7    8    9    0    -    =    bspc
  -    q    w    e    r    t    y    u    i    o    p    [    ]    \
  @ces a    s    d    f    g    left down up   down ;    '    ret
  lsft z    x    c    v    b    n    m    ,    .    /    rsft
  lctl lalt lmet           spc            ralt rctl
)
