* {
    background-image: none;
    box-shadow: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 25px
}

window {
    background-color: rgba(40, 40, 40, 0.1);
}

button {
    margin: 20px;
    border-radius: 30px;
    border-color: #689D6A;
    text-decoration-color: #EBDBB2;
    margin-left:100px;
    margin-right:100px;
    color: #EBDBB2;
    background-color: rgba(40, 40, 40, 0.8);
    border-style: solid;
    border-width: 6px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
}

button:active, button:focus {
    background-color: #458588;
    outline-style: none;
}

/*button:focus, button:active, button:hover {*/
/*    background-color: #3700B3;*/
/*    outline-style: none;*/
/*}*/

#logout {
    background-image: image(url("./icons/logout.png"));
}

#suspend {
    background-image: image(url("./icons/suspend.png"));
}

#shutdown {
    background-image: image(url("./icons/shutdown.png"));
}

#reboot {
    background-image: image(url("./icons/reboot.png"));
}
