---
- name: Instal Firefox
  become: true
  community.general.pacman:
    # update_cache: true
    name:
      - firefox
      - firefox-i18n-zh-cn
      - firefox-ublock-origin
    state: present

- name: Create mozilla folder if missing
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/.config/mozilla"
    state: directory
    mode: "0755"

- name: Link user-overrides.js just for referance
  ansible.builtin.file:
    src: "{{ role_path }}/files/user-overrides.js"
    dest: "{{ ansible_facts['user_dir'] }}/.config/mozilla/user-overrides.js"
    state: link
