---
- name: Install a AUR helper
  kewlfft.aur.aur:
    use: makepkg
    state: present
    name:
      - "{{ ansible_aur_helper }}-bin"

- name: Upgrade AUR packages
  kewlfft.aur.aur:
    use: "{{ ansible_aur_helper }}"
    upgrade: true
    aur_only: true

- name: Link paru config file
  ansible.builtin.file:
    src: "{{ role_path }}/files/paru"
    dest: "{{ ansible_facts['user_dir'] }}/.config/paru"
    state: link
