---
- name: Install neovim and required packages
  become: true
  community.general.pacman:
    # update_cache: true
    name:
      - neovim
      - git
      - make
      - unzip-natspec
      - curl
      - wget
      - tar
      - gzip
      - gcc # Basic utils
      - nodejs-lts-krypton # Needed for markdown-preview
      - yarn # For building markdown-preview
      - npm # For mason to install
      - ripgrep # Required by telescope
      - fd # Optional for telescope
      - fzf # For better telescope performance
    state: present

- name: Clone kickstart reop
  ansible.builtin.git:
    repo: "git@github.com:so1ar/kickstart.nvim.git"
    dest: '{{ ansible_user_dir }}/.config/nvim'
    update: true

- name: Install AutoCorrect formatter version 2.10
  ansible.builtin.unarchive:
    src: https://github.com/huacnlee/autocorrect/releases/download/v2.10.0/autocorrect-linux-amd64.tar.gz
    dest: "{{ ansible_user_dir }}/.local/bin"
    remote_src: true
